ion-header{
    --ion-background-color:#b39b75;
    --ion-text-color:#ffffff;
  
  }
  
  .regreso{
    
    color: #083e54;
  }
  
  
  .title{
    font-size: 100%;
   color: #ffffff;
    font-family: medium;
    text-align: right;
  }
  ion-content{
    --ion-background-color:#083e54;
    text-align: center;
  }
  ion-button{
    --color:#ffffff;
    --background: #b39b75;
    font-weight:bold;
    outline-color: #b39b75;
    font-family: bold;
  
  }
  
 

  .cuadro{
    --ion-text-color:#ffffff;
    //width: 30%;
    --border-color: #ffffff;
   padding-left: 50px;
   padding-right: 50px;
  }
  
  ion-input{
    text-align: center;
    font-family: regular;
    
  
  }
  
  
  