<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="regreso" defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button class="regreso" [routerLink]="['/inicio']">
        <ion-icon name="home" color="#083e54"></ion-icon>

      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <br>
  <div class="primer_titulo">
 <label class="primer_titulo2">ALERTAS</label>
</div>
<br>

  <ion-list>

    <ion-item [routerLink]="['/alerta-abierta']" >
      <ion-icon name="lock-open"  color="#ffffff"></ion-icon>

      <ion-label>
        
         <h3 class="title">Abiertas</h3>
       </ion-label>
     </ion-item>
  </ion-list>
  <br>

  <ion-list>
     <ion-item [routerLink]="['/alerta-cerrada']" >
      <ion-icon name="lock-closed"  color="#ffffff"></ion-icon>

       <ion-label>
          <h3 class="title">Cerradas</h3>
        </ion-label>
      </ion-item>



 </ion-list>
</ion-content>
