ion-header{
    --ion-background-color:#b39b75;
    --ion-text-color:#ffffff;
  
  }
  
  .regreso{
    
    color: #083e54;
  }
  
  
  .title{
    font-size: 100%;
   color: #ffffff;
    font-family: medium;
  }

ion-content{
    --ion-background-color:#ffffff;
    text-align: justify;
  }

  .primer_titulo22{
    font-size: 125%;
    color: #083e54;
    font-family: bold;
    text-align: justify;

  }
  
  .primer_titulo1{
    
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;

  }

  
  