<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  class="regreso" [routerLink]="['/home']">
       <ion-icon name="close"></ion-icon>
      </ion-button>
     </ion-buttons>
     <ion-item lines="none">
      <label class="title">Notificación</label>
      </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content>

  <br>
  <br>
  <div class="primer_titulo1">
  <label class="primer_titulo22" >Estimado usuario (a) gracias por registrarte. <br><br>
    Próximamente le llegará una confirmación por correo, confirmando la verificación de tu cuenta. </label>
</div>
<br>
</ion-content>