<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="regreso" defaultHref="/documentos-menu"></ion-back-button>
    </ion-buttons>
 
    <ion-buttons slot="end">
      <ion-button class="regreso" [routerLink]="['/inicio']">
        <ion-icon name="home" color="#083e54"></ion-icon>

      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <br>
  <div class="primer_titulo">
  <label class="primer_titulo1" >DOCUMENTOS </label><label class="primer_titulo2">PERSONALES</label>
</div>
<br>

    <ion-list *ngFor="let catedocus of catdocu">
    <ion-item  [routerLink]="['/documentos-personales',catedocus.id]">
      <ion-label>
        <h3 class="title">{{catedocus.nombre}}</h3>
      </ion-label>
    </ion-item>
    <div class="espacio"></div> 
    </ion-list>
</ion-content>
 