ion-header{
  --ion-background-color:#b39b75;
  --ion-text-color:#ffffff;
       
 }
       
 .regreso{
    color: #083e54;
  }
 
  .title{
     font-size: 100%;
     padding-left: 10px;   
    color: #ffffff;
     font-family: medium;
   }
 
   .title2{
     font-size: 100%;
     padding-left: 10px;   
    color: #083e54;
     font-family: medium;
   }
 
 
   .subtitle2{
     font-size: 100%;
     padding-left: 10px;   
    color: #b39b75;
     font-family: medium;
   }
 
   ion-item{
     //--ion-background-color: #b39b75;
     --ion-text-color:#b39b75;
     --border-color: #083e54;
   }
 
   ion-button{
    height: 50px;
    --color:#ffffff;
    --background: #b39b75;
    font-weight:bold;
    outline-color: #b39b75;
    font-family: bold;
    font-size: 100%;
    text-align: center;

  
  }

  .center{
    text-align: center;
  }

  .titleChat{
    font-size: 100%;
    padding-left: 10px;   
    margin-top: 0;
    color: #444444;
    font-family: medium;

  }

  .subtext{
    font-size: 80%;
    padding-left: 10px;   
    margin-top: 0;
    color: #b39b75;
    font-family: medium;

  }

  .primer_titulo1{
    font-size: 175%;
    color: #083e54;
    font-family: medium;
    text-align: center;
  }
  
  .primer_titulo2{
    font-size: 175%;
    color: #083e54;
    font-family: bold;
    text-align: center;
  }
  
  .primer_titulo{
    
    text-align: center;
  }

  
  ion-fab-button{
    color: #ffffff;
    //border-color: #ffffff;
   // --background:#ffffff;
    --ion-color-base: #083e54;
  }