@font-face{
    font-family: regular;
    src : url('../assets/fonts/regular.woff2')
}

@font-face{
    font-family: bold;
    src : url('../assets/fonts/bold.woff2')
}

@font-face{
    font-family: medium;
    src : url('../assets/fonts/medium.woff2')
}

@font-face{
    font-family: black;
    src : url('../assets/fonts/black.woff2')
}