ion-header{
    --ion-background-color:#b39b75;
    --ion-text-color:#ffffff;

}

.primer_titulo1{
    font-size: 175%;
    color: #083e54;
    font-family: medium;
    text-align: center;
  }

  .primer_titulo2{
    font-size: 175%;
    color: #083e54;
    font-family: bold;
    text-align: center;
  }

  .primer_titulo{
    
    text-align: center;
  }

  
  .regreso{
  
    color: #083e54;
  }

  ion-list{
    --ion-background-color:#b39b75;
 }

  ion-item{
    background-color: #b39b75;
    --ion-text-color:#ffffff;
    --border-color: #b39b75;
}

.title{
    font-size: 100%;
    padding-left: 10px;   
   color: #ffffff;
    font-family: medium;
  }


ion-fab-button{
  color: #ffffff;
  //border-color: #ffffff;
 // --background:#ffffff;
  --ion-color-base: #083e54;
}