ion-header{
    --ion-background-color:#b39b75;
    --ion-text-color:#ffffff;
    font-family: Negrita;

}
.regreso{
  
    color: #083e54;
  }

.relleno{
    --ion-background-color:#083e54;

}

.nombre_resi{
  color:#083e54;
  font-family: bold;
}
ion-item{
    --ion-text-color:#b39b75;
    font-family: bold;
    --border-color: #b39b75;
}

.title{
    font-size: 100%;
padding-left: 10px;   
 color: #ffffff;
    font-family: bold;
  }

  .menus{
    --ion-text-color:#083e54;
    font-family: bold;
    --border-color: #083e54;
}

  .relleno2{
    padding-left: 10px;
    padding-right: 10px;
    --ion-background-color: #b39b75;
   --ion-text-color:#083e54;
   --border-color: #083e54;
   font-family: bold;
 }

 .bot{
     background-color: #b39b75;

 }
 

  .icon2{
    font-size: 160%;
 color: #cf2a2a;
    text-align: center;

  }
  .icon1{
    font-size: 160%;
 color: #083e54;
    text-align: center;

  }

  .primer_titulo1{
    font-size: 125%;
    color: #ffffff;
    font-family: medium;
  }
  
  .primer_titulo2{
    font-size:125%;
    color: #ffffff;
    font-family: bold;
  }
  
  .primer_titulo{
    padding-left: 20px;   
    text-align: left;
  }

  