ion-header{
    --ion-background-color:#b39b75;
    --ion-text-color:#ffffff;
  
  }
  
  .regreso{
    
    color: #083e54;
  }
  
  .primer_titulo22{
    font-size: 175%;
    color: #ffffff;
    font-family: bold;
    text-align: center;
  }
  
  .primer_titulo1{
    
    text-align: center;
  }

ion-content{
    --ion-background-color:#083e54;
    text-align: center;
  }
  ion-button{
    --color:#ffffff;
    --background: #b39b75;
    font-weight:bold;
    outline-color: #b39b75;
    font-family: bold;
  
  }
  
  .title{
    font-size: 100%;
   color: #ffffff;
    font-family: medium;
    text-align: right;
  }

  .lista{
 
      --ion-text-color:#ffffff;
      //width: 30%;
      --border-color: #ffffff;
     padding-left: 50px;
     padding-right: 50px;
  }
  
  
  
  ion-input{
    text-align: center;
    font-family: regular;
    
  
  }
  
  .olvido{
    font-size: 90%;
    color: #ffffff;
    font-family: regular;
    text-align: center;
  }
  
  .primer_titulo1{
    font-size: 75%;
    color: #ffffff;
    font-family: regular;
    text-align: center;
  }
  
  .primer_titulo{
  
    text-align: center;
  }
  
  ion-fab-button{
    color: #ffffff;
    //border-color: #ffffff;
   // --background:#ffffff;
    --ion-color-base: #444444;
  }

  
  
  .regis{
    font-size: 90%;
    --color:#b39b75;
    font-family: bold;
    text-align: center;
  
  }
  